# Hardware
#   ignore everything in hw/proj/ EXCEPT .tcl files
**/hw/proj/*
!*.tcl

**/hw/src/fixed/uart/fifo/*
!*.xci

# Software

#   ignore contents of bin folder
**/sw/bin

#   ignore o files
**/sw/*.o

# VScode
.vscode/*